cflib==0.1.22
cloudpickle==2.2.1
distlib==0.3.6
filelock==3.12.0
freetype-py==2.3.0
gym==0.26.2
gym-notices==0.0.8
hsluv==5.0.3
kiwisolver==1.4.4
libusb-package==1.0.26.1
numpy==1.24.2
platformdirs==3.2.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqtgraph==0.13.3
PySDL2==0.9.15
pysdl2-dll==2.24.0
pyserial==3.5
pyusb==1.2.1
PyYAML==5.4.1
pyzmq==25.0.2
qasync==0.23.0
qtm==2.1.1
scipy==1.10.1
virtualenv==20.22.0
vispy==0.9.6
